body {
  margin-bottom: 5%;
  width: 85%
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  text-align: center;
}
  
.card {
  flex: 1;
  max-width: 100%; 
  margin-bottom: 1rem;
}
  
.info_card {
  position: fixed;
  top: 10%;
  right: 2%;
  background-color: lightgray;
  padding: 10px;
}
