
    <div class="container">
        <div class="text-center">
            <h1 class="main-title">Nomade Audiovisuel</h1>
        </div>
        <div class="card">
            <div class="image-container">
                <img src="assets/image_home.png" class="img-fluid rounded-start" alt="Amérique Latine">
            </div>
            <div class="card-body">
                <h5 class="card-title">A travers l'Amérique Latine</h5>
                <p class="card-text">Je m'appelle Mathis MAZOYER, j'ai 22 ans et voici quelques-unes de mes images ramenées après avoir silloné l'Amérique Latine entre décembre 2022 et mars 2023.</p>
            </div>
        </div>
    </div>

